<nav class="bg-gray-800 border-b border-gray-700 shadow-xl" aria-label="Main navigation">
  <div class="container mx-auto flex flex-wrap items-center justify-between px-4 py-5 sm:px-6 lg:flex-nowrap lg:px-4">
    <!-- Logo Section -->
    <div class="flex flex-1 items-center justify-between lg:flex-none">
      <a routerLink="/home" class="flex items-center space-x-z me-4">
        <svg class="h-8 w-8 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
        </svg>
        <span class="text-2xl  font-bold text-white tracking-tight">
          AI<span class="text-indigo-400"> Home</span> Secure
        </span>
      </a>

      <!-- Mobile Menu Button -->
      <button type="button"
        class="lg:hidden p-2 rounded-md text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-white focus:ring-inset"
        aria-controls="mobile-menu" [attr.aria-expanded]="isMobileMenuOpen()" (click)="toggleMobileMenu()">
        <span class="sr-only">Open main menu</span>
        <svg class="h-7 w-7" aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          @if (isMobileMenuOpen()) {
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          } @else {
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          }
        </svg>
      </button>

    </div>

    <!-- Desktop Navigation -->
    <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-between ">
      @if (isLogedin()) {
      <ul class="flex space-x-4 rtl:space-x-reverse
      " aria-label="Main menu">
        <li>
          <a routerLink="/home" routerLinkActive="LinkActive"
            class="px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition-colors">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/UserImg" routerLinkActive="LinkActive"
            class="px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition-colors">
            User Image
          </a>
        </li>
        <li>
          <a routerLink="/emergency-response" routerLinkActive="LinkActive"
            class="px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition-colors">
            Emergency Response
          </a>
        </li>
        <li>
          <a routerLink="/history" routerLinkActive="LinkActive"
            class="px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition-colors">
            System Logs
          </a>
        </li>
      </ul>
      }

      <!-- User Actions -->
      <div class="ml-auto flex items-center  space-x-4 rtl:space-x-reverse">
        @if (isLogedin()) {
        <div class="flex items-center space-x-4">

          <a routerLink="/Profile" routerLinkActive="LinkActive"
            class="px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition-colors">
            Profile
          </a>

          <button (click)="logOut()"
            class=" flex items-center text-base space-x-2 px-4 py-2 text-red-500 rounded-md hover:bg-gray-700 transition-colors">
            <i class="fas fa-sign-out-alt text-lg "></i>
            <span>
              Sign Out
            </span>
          </button>

        </div>
        } @else {
        <div class="flex space-x-6 ">
          <a routerLink="/login"
            class="px-4 py-2 text-sm font-medium text-white bg-indigo-600 rounded-md hover:bg-indigo-700 transition-colors flex items-center">
            <svg class="mr-2 h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
            </svg>
            Log in
          </a>
          <a routerLink="/register"
            class="px-4 py-2 text-sm font-medium text-indigo-300 border border-indigo-300 rounded-md hover:bg-indigo-300/10 transition-colors flex items-center">
            <svg class="mr-2 h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
            </svg>
            Register
          </a>
        </div>
        }
      </div>

    </div>




    <!-- Mobile Menu -->
    <div class=" w-full lg:hidden" [class.hidden]="!isMobileMenuOpen()" id="mobile-menu">
      @if (isLogedin()) {
      <div class="pt-3 pb-3 border-t border-gray-700">

        <div class="px-4">
          <div class="text-base font-medium text-white">{{name()}}</div>
          <div class="text-sm font-medium text-gray-400">{{email()}}</div>
        </div>

        <div class="mt-3 space-y-1">
          <a routerLink="/Profile" routerLinkActive="LinkActive"
            class="block  rounded-md px-4 py-2 text-base text-gray-300 hover:bg-gray-700">Profile
            Settings</a>
          <button (click)="logOut()"
            class="block w-full px-4 py-2 text-left  rounded-md text-base text-red-400 hover:bg-gray-700">
            Sign out
          </button>
        </div>
      </div>
      }

      <div class="px-2 pt-2 pb-3 space-y-2">
        @if (isLogedin()) {
        <a routerLink="/home" routerLinkActive="LinkActive"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700">
          Home
        </a>
        <a routerLink="/UserImg" routerLinkActive="LinkActive"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700">
          User Image
        </a>
        <a routerLink="/emergency-response" routerLinkActive="LinkActive"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700">
          Emergency Response
        </a>
        <a routerLink="/history" routerLinkActive="LinkActive"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700">
          System Logs
        </a>
        } @else {
        <a routerLink="/login"
          class="
        px-4 py-2 text-sm font-medium text-white bg-indigo-600 rounded-md hover:bg-indigo-700 transition-colors flex items-center        ">
          Log in
        </a>
        <a routerLink="/register"
          class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:bg-gray-700">
          Register
        </a>
        }
      </div>
    </div>


  </div>
</nav>